.in-title{
  font-size: 24px;
  font-family: Arial;
  font-weight: 400;
  color: #000000; 
  text-align: center;
  margin-top: 80px;
  padding-bottom: 41px;
  padding-top: 65px;
  letter-spacing: .75px;
}
.in-list-warp{
    width:1160px;
    margin: 0 auto;
}
.in-list-img-warp{
    width: 550px;
    margin-bottom: 120px;
}
.in-list-img{
    width: 100%;
/*    height: 400px; */
    height: 400px !important;
}
.in-list-text{
    font-size: 16px;
    font-family: Arial;
    font-weight: 400;
    padding-top: 18px;
    padding-bottom: 9px;
    color: #222222;
}
.in-list-btn{
    font-size: 14px;
    font-family: Arial;
    font-weight: normal;
    line-height: 24px;
    color: #161616 !important;
    border-bottom: 2px solid #FE5368 ;
    text-decoration: none;
    font-weight: bold;
}
.in-list-img-warp a{
    text-decoration: none;
}
.in-list-img-warp a:hover{
    border-bottom:0 !important ;
    text-decoration: none !important;
}
.go-login-warp{
    height: 200px;
}
.go-login{
    width: 160px;
    height: 48px;
    border: 1px solid #858585;
    margin:  0 auto;
    display: block;
    cursor: pointer;
    background-color: #fff;
    font-size: 14px;
    font-family: Arial;
    font-weight: 400;
    color: #858585;
    display: block;
}
.go-login:hover{
    border: 1px solid #161616;
    color: #161616;    
}