.sus_main{
    width: 71.4285rem;
    margin: 0 auto;
    color: #000;
    padding-top: 100px;
}
.sus_main-warp{
/*    padding-bottom: 14.2857rem; */
}
.sus_text_warp{
    padding-bottom: 8rem;
}
.sus_text_p18{
    font-size: 1.2857rem;
}
.sus_text_p15{
    font-size: 1.0714rem;
    font-weight: bold;
}
.sus_text_p14{
    font-size: 1.1rem;
    color: #000;
    font-family: "YouTube Noto",Roboto,Arial,Helvetica,sans-serif;
    text-align: justify;
    
}
.sus_text_p30{
    font-size: 30px;
    font-weight: bold;
}
.sus_pt_20{
    padding-top: 1.4285rem;
}

